/* GENERAL */
main h1 {
  text-align: center;
}
/* ---- */
nav {
  display: flex;
  justify-content: center;

  padding: 2rem;
}

ul {
  list-style: none;
  display: flex;
}

ul > li {
  margin: 0 1rem;
}
